pkgbase = skaffold-bin
	pkgdesc = A command line tool that facilitates continuous development for Kubernetes applications
	pkgver = 2.13.1
	pkgrel = 1
	url = https://github.com/GoogleContainerTools/skaffold
	arch = x86_64
	license = Apache
	optdepends = docker: One of tools for building images support by skaffold
	optdepends = minikube: To use Minikube
	optdepends = kubectl: One of tools for deploying applications support by skaffold
	optdepends = bash-completion: Tab autocompletion
	provides = skaffold
	conflicts = skaffold
	source = skaffold-2.13.1-amd64::https://github.com/GoogleContainerTools/skaffold/releases/download/v2.13.1/skaffold-linux-amd64
	sha256sums = a903e1a99d4338747348237220d720c44a0f6f5f965dce17ee05809190239b6f

pkgname = skaffold-bin
